<DModal 
  @title="Embed External Image" 
  @closeModal={{@closeModal}}
>
  <:body>
    <div class="insert-image-modal-body">
      <div class="control-group">
        <label>Image URL</label>
        <Input @value={{this.imageUrl}} class="ember-text-field" @type="text" autofocus />
      </div>
      <div class="control-group">
        <label>Alt Text</label>
        <Input @value={{this.altText}} class="ember-text-field" @type="text" />
      </div>
    </div>
  </:body>

  <:footer>
    <DButton 
      @label="Insert" 
      @action={{this.insertImage}} 
      @icon="plus" 
      class="btn-primary" 
    />
    <DButton @label="Cancel" @action={{@closeModal}} class="btn-flat" />
  </:footer>
</DModal>
